* {
    background-color:#e6fff2;
    text-align:center;
}
    
h1{
    font-family: 'Pacifico',cursive;
}

h2{
    font-family: 'Cookie',cursive;
    font-size:20px;
}

p{
    font-family: 'Shadows Into Light',cursive;
    font-weight:bold;
    margin: 100px 25px;
}

li{
    text-align:center;
    font-family: 'Shadows Into Light',cursive;
    font-weight:bold;
}
