<style.css>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

* {
font-family: 'Indie Flower',Arial,Roboto;
background-colour: aqua;
}

img {
width: 90%;
  height: 80%;
  align:center;
}

</style.css>
