p {
    font: 15px 'Shadows Into Light',cursive, sans-serif;
}

h1 {
font: 30px 'Pacifico', cursive,sans-serif;
}

*{
    background-color: #e6fff2;
    text-align:center;
}

h2{
font: 20px 'Pacifico',cursive,sans-serif;
}
